/* --- Clouds --- */
#background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Behind everything */
    overflow: hidden;
}

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    position: absolute;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

/* Animations */
.x1 {
    top: 100px;
    left: -200px;
    transform: scale(0.6);
    opacity: 0.8;
    animation: moveclouds 25s linear infinite;
}

.x2 {
    top: 200px;
    left: -200px;
    transform: scale(0.8);
    opacity: 0.6;
    animation: moveclouds 40s linear infinite;
}

.x3 {
    top: 50px;
    left: -200px;
    transform: scale(0.5);
    opacity: 0.7;
    animation: moveclouds 30s linear infinite;
}

.x4 {
    top: 150px;
    left: -200px;
    transform: scale(0.4);
    opacity: 0.9;
    animation: moveclouds 18s linear infinite;
}

@keyframes moveclouds {
    0% {
        margin-left: -200px;
    }

    100% {
        margin-left: 120%;
    }
}